.dashboard-nav{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0 10px;
}
.dashboard-nav-link{
    padding: 10px 25px;
    border-radius: 30px;
    border: 1px solid #E4E4E4;
    color: #49557E;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 0.2s ease;
}
.dashboard-nav-link.active{
    border-color: #FF4C24;
    background: #FF4C24;
    color: white;
}



